html,
body {
    height: 100%;
}


#root {
    height: 100%;
}

.outer {
    cursor: none;
    min-width: 320px;
    width: 100%;
    height: 100%;
    background: #F7CF57;
    display: flex;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
        width: 448px;

        @media screen and (max-width: 600px) {
            width: 248px;
        }
    }

    .title_container {
        margin-top: 30px;
        font-size: 30px;

        // display: flex;
        // align-items: center;
        // width: 100px;
        // height: 100%;
        .cursor_container {
            img {
                width: 238px;
            }
        }

        font-family: "Helvetica Extended Light";

        @media screen and (min-width: 600px) {
            display: none;
        }
    }
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.test {
    width: 250px;
    height: 30px;
    font-weight: 400;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 25px;
}